# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
android/
ios/
.expo-shared/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.*
.env*.local

# typescript
*.tsbuildinfo

# VSCode
.vscode/

# Logs
logs/
*.log

# Coverage
coverage/
*.lcov

# Build output
build/
out/
tmp/
temp/
.cache/
.cypress/

# Test
jest-test-results.json

# Misc
*.swp
*.swo
*.tmp
*.bak
*.old

# System files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# IDEs
.idea/
*.iml

# Python (if any scripts)
__pycache__/
*.pyc
*.pyo

# Others
*.sublime-workspace
*.sublime-project
google-services.json
serviceAccountKey.json